<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-xs12">
            <div class="widget-head">
                <div class="widget-title">课程报名列表</div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-xs12 widget-body ">
            <div class="layui-form-item layui-col-md1">

                <a class="layui-btn" href="javascript:;" onclick='addregcomm("{$sid}")'>新增</a>
                <br>
                <br>
                {if($coucomm['isover'] == 1)}
                    <a class="layui-btn" href="javascript:;" onclick='classover("{$sid}")'>下课通知</a>
                {else}
                    <a class="layui-btn layui-btn-primary" href="javascript:;">已下课</a>
                {/if}
            </div>

            <form class="layui-form layui-col-md11" method="post" action="{:url('coursereglist',['sid'=>$sid])}">
                <div class="layui-form-item">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">课程名称：</label>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" value="{$coucomm['classname']}／{$coucomm['name']}" readonly>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">课程时间：</label>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" value="{:date('Y-m-d', $coucomm['datestamp'])}　{:substr($coucomm['stime'], 0, 5)}-{:substr($coucomm['etime'], 0, 5)}" readonly>
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md3">
                        <label class="layui-form-label">总名额/已报名</label>
                        <div class="layui-input-inline" >
                            <input type="text" class="layui-input" value="{$coucomm['totnum']}/{$coucomm['nownum']}　最多容纳:{$coucomm['maxnum']}" readonly>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">联系电话：</label>
                        <div class="layui-input-inline" >
                            <input name="phone" type="text" class="layui-input" placeholder="请输入联系电话" value="{$para['phone']}">
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">备注信息：</label>
                        <div class="layui-input-inline" >
                            <input name="content" type="text" class="layui-input" placeholder="请输入备注信息" value="{$para['content']}">
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md3">
                        <label class="layui-form-label">类型：</label>
                        <div class="layui-input-inline">
                            <select class="layui-inline " lay-search name="stype" data-layer-selected="{btnSize: 'sm', placeholder: '类型'}">
                                <option value="0" {if($para["stype"]==0)}selected{/if}>全部</option>
                                <option value="1" {if($para["stype"]==1)}selected{/if}>用户报名</option>
                                <option value="2" {if($para["stype"]==2)}selected{/if}>后台添加</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <a class="layui-btn layui-btn-primary" href="{:url('coursereglist',['sid'=>$sid])}">重置</a>
                    </div>
                </div>
            </form>
            <div class="layui-col-md12">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <!-- <th>编号</th> -->
                            <th>会员信息</th>
                            <th>联系电话</th>
                            <th>参课人数</th>
                            <th>类型</th>
                            <th>添加时间</th>
                            <th>备注信息</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {if(empty($data['list']))}
                            <tr>
                                <td colspan="99" class="layer-text-center">暂无记录</td>
                            </tr>
                        {else}
                            {foreach ($data['list'] as $value)}
                                <tr>
                                    <td>
                                        {if($value['uid'] == 0)}
                                            ／
                                        {else}
                                            <a href="{$value['userinfo']['headimg']}" title="点击查看大图" target="_blank"><img src="{$value['userinfo']['headimg']}" width="60" height="60" alt=""></a><br>
                                            {$value['userinfo']['nickname']}／{$value['userinfo']['gender']}
                                        {/if}
                                    </td>
                                    <td>{$value['phone']}</td>
                                    <td>{$value['number']}</td>
                                    <td>{$value['stype']}</td>
                                    <td>{:date("Y-m-d H:i",$value['addstamp'])}</td>

                                    <td>
                                        <textarea onchange="return changecontent('{:url('courseregcontent')}','{$value.id}','{$value.comment}');"  id="{$value['id']}content">{$value.content}</textarea>
                                    </td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a href="javascript:void(0);" class="value-delete tpl-table-black-operation-del delcomm" data-id="{$value['id']}"><i class="mdi menu-icon mdi-pencil-lock"></i> 删除</a>
                                        </div>
                                    </td>
                                </tr>
                            {/foreach}
                        {/if}
                    </tbody>
                </table>
                <div class="layui-col-md12 layui-col-xs12">
                    {if($data['list'])}{$data['pageshow']|raw}{/if}
                    <div class="pagination-total">
                        <div class="">总记录：{$data['count']} ／ 总页数：{$data['pagetotal']}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 删除
        $('.delcomm').delete('id', "{:url('courseregdel')}", '数据删除后无法恢复,确认删除？');
    });

    
    // 添加报名人员
    function addregcomm(sid){
        layer.open({
            type: 2,
            title: '新增报名信息',
            shadeClose: false,
            scrollbar: false,
            resize: true,
            shade: 0.8,
            maxmin: true, //开启最大化最小化按钮
            area: ['1200px', '80%'],
            content: "{:url('courseregrun','','')}&sid=" + sid, //iframe的url    
            end: function () {
                location.reload();
            }    
        }); 
    }

    // 下课通知
    function classover(sid){
        layer.confirm('确认课程结束且通知用户查看运动报告？', {
            title:'友情提示',
            btn: ['确定', '取消'] //按钮
        }, function () {
            var loading = layer.load(1, {
                shade: [0.8, '#fff'] //0.1透明度的白色背景
            });
            $.ajax({
                url:"{:url('courseover')}",
                data:{ stype:1},    
                type:'post',    
                cache:false,    
                dataType:'json',    
                success:function(data) {
                    if(data.code == 200){
                        sendmess(sid,data.mess);
                    }else{
                        layer.alert(data.mess);
                        location.reload();  // 非法操作 刷新页面
                    }
                },    
                error : function() {    
                    alert("异常");    
                }
            });

            layer.close(loading) 
        }, function () {} );
    }
    // 发送消息
    function sendmess(sid,mess){
        $.ajax({
            url:"{:url('Index/Send/classover')}",
            data:{ sid,mess},    
            type:'post',    
            cache:false,    
            dataType:'json',    
            success:function(data) {
                if(data.code == 200){
                    // 更改课程状态
                    overcouse(sid);
                }else{
                    layer.alert(data.mess);
                    location.reload();  // 非法操作 刷新页面
                }
            },    
            error : function() {    
                alert("异常");    
            }
        });
    }
    // 更改课程下课状态
    function overcouse(sid){
        $.ajax({
            url:"{:url('courseover')}",
            data:{ sid,stype:2},    
            type:'post',    
            cache:false,    
            dataType:'json',    
            success:function(data) {
                if(data.code == 200){
                    layer.msg('操作成功', {icon: 1});
                    location.reload();  // 非法操作 刷新页面
                }else{
                    layer.alert(data.mess);
                    location.reload();  // 非法操作 刷新页面
                }
            },    
            error : function() {    
                alert("异常");    
            }
        });
    }
</script>