<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12 layui-col-xs12">
            <div class="widget-head">
                <div class="widget-title">课程包列表</div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-xs12 widget-body ">
            <div class="layui-form-item layui-col-md1"><div class="layui-col-md1"><a class="layui-btn" href="{:url('packsrun')}">新增</a></div></div>

            <form class="layui-form layui-col-md11" method="post" action="">
                <div class="layui-form-item">
                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">分类：</label>
                        <div class="layui-input-inline" >
                            <select class="layui-inline " lay-search name="cid" data-layer-selected="{btnSize: 'sm', placeholder: '分类'}">
                                <option value="-1" {if($para["cid"]==-1)}selected{/if}>全部</option>
                                {foreach($classlist as $val)}
                                    <option value="{$val['id']}" {if($para['cid']==$val['id'])}selected{/if}>{$val['name']}</option>
                                {/foreach}
                                <option value="0" {if($para["cid"]==0)}selected{/if}>不限</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline layui-col-md4">
                        <label class="layui-form-label">课程包编号：</label>
                        <div class="layui-input-inline">
                            <input name="sid" type="text" class="layui-input" placeholder="请输入课程包编号" value="{$para['sid']}">
                        </div>
                    </div>
                    <div class="layui-inline layui-col-md3">
                        <label class="layui-form-label">课程包名称：</label>
                        <div class="layui-input-inline">
                            <input name="name" type="text" class="layui-input" placeholder="请输入课程包名称" value="{$para['name']}">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
                        <a class="layui-btn layui-btn-primary" href="{:url('packslist')}">重置</a>
                    </div>
                </div>
            </form>
            <div class="layui-col-md12">
                <table class="layui-table">
                    <thead>
                        <tr>
                            <th style="width:8%;">编号</th>
                            <th>课程分类</th>
                            <th>名称</th>
                            <th>价格</th>
                            <th>包含课时</th>
                            <th>有效期</th>
                            <th style="width:10%;">排序</th>
                            <th>展示/隐藏</th>
                            <th>更新时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        {if(empty($data['list']))}
                            <tr>
                                <td colspan="99" class="layer-text-center">暂无记录</td>
                            </tr>
                        {else}
                            {foreach ($data['list'] as $value)}
                                <tr>
                                    <td>{$value['sid']}</td>
                                    <td>{$value['classname']}</td>
                                    <td>{$value['name']}</td>
                                    <td>￥{$value['price']}</td>
                                    <td>{$value['tothour']}</td>
                                    <td>{$value['validays']}天</td>
                                    
                                    <td>
                                        <input class="layui-input" type="number" value="{$value.sort}" onblur="return changesort('{:url('packsort')}',this.value,'{$value.id}');">
                                    </td>
                                    <td>
                                        <a href="javascript:;" class="layui-btn layui-btn-sm layui-btn-radius layui-btn-{if $value['ishow'] == 1}normal{else/}danger{/if} ishowcomm " data-id="{$value['id']}">{if $value['ishow'] == 1}展示{else/}隐藏{/if}</a>
                                    </td>
                                    <td>{:date("Y-m-d H:i",$value['modstamp'])}</td>
                                    <td>
                                        <div class="tpl-table-black-operation">
                                            <a class="tpl-table-black-operation" href="{:url('packsrun',['id' => $value['id']])}">编辑</a>
                                            <a href="javascript:void(0);" class="value-delete tpl-table-black-operation-del delcomm" data-id="{$value['id']}"><i class="mdi menu-icon mdi-pencil-lock"></i> 删除</a>
                                        </div>
                                    </td>
                                </tr>
                            {/foreach}
                        {/if}
                    </tbody>
                </table>
                <div class="layui-col-md12 layui-col-xs12">
                    {if($data['list'])}{$data['pageshow']|raw}{/if}
                    <div class="pagination-total">
                        <div class="">总记录：{$data['count']} ／ 总页数：{$data['pagetotal']}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        // 删除
        $('.delcomm').delete('id', "{:url('packsdel')}", '数据删除后无法恢复,确认删除？');
        $('.ishowcomm').delete('id', "{:url('packshow')}", '确认操作？');
    });
</script>